<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ gettext('admin.sign_in') }} - {{ request.state.app_name }}</title>
    <link href="{{ url_for('static', path='assets/css/bootstrap.min.css') }}" rel="stylesheet">
     <link href="{{ url_for('static', path='assets/css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='assets/css/style.css') }}" rel="stylesheet"/>
</head>
<body>

     <div class="row mt-4 justify-content-md-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="card p-4 shadow-sm">
                            <div class="card-body">
                                <h3 class="card-title text-center mb-4">{{ gettext('admin.sign_in') }}</h3>
                                 {% include 'partials/error_msg.html' %}
                                 <form role="form" action="{{ request.url_for('login') }}" method="post">
                                    <div class="mb-3">
                                            <label for="email" class="form-label">{{ gettext('admin.email') }}</label>
                                            <input type="email" name="email" class="form-control" id="email" required>
                                    </div>
                                     <div class="mb-3">
                                            <label for="password" class="form-label">{{ gettext('admin.password') }}</label>
                                            <input type="password" name="password" class="form-control" id="password" required>
                                    </div>
                                     <div class="mb-3">
                                         <div class="row align-items-center">
                                             <div class="col-6">
                                                 <a href="{{ url_for('admin.forgot-password.form') }}" class="text-decoration-none text-muted small">{{ gettext('admin.forgot_password') }}</a>
                                             </div>
                                             <div class="col-6 d-flex justify-content-end">
                                                 <button type="submit" class="btn btn-primary rounded-3 px-4">{{ gettext('admin.sign_in') }}</button>
                                             </div>
                                         </div>
                                     </div>

                                     <div class="mt-4 text-center border-top pt-3">
                                         <span class="text-muted">Don't have an account?</span>
                                         <a href="{{ url_for('register.form') }}" class="fw-bold text-decoration-none">Register</a>
                                     </div>

                                 </form>
                            </div>
                        </div>
                    </div>
                </div>

    <script src="{{ url_for('static', path='assets/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>